*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    color: #f0d8d9;
}

.wrapper{
    margin: 0 auto;
    width: 940px;
    padding: 0 40px;
}

.get-a-quote{
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}


.get-a-quote .wrapper{
    padding: 60px 0;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





.get-a-quote .grid-for-form-and-aside{
    position: relative;
    top: -1px;
    display: grid;
    grid-template: 400px / 619px 300px;
    grid-gap: 20px;

}

.get-a-quote h2 {
    position: relative;
    top: -1px;

    font-size: 30px;
    letter-spacing: -0.18px;
    font-weight: 900;
}

.get-a-quote p{
    position: relative;
    top: -15px;

    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.15px;

}

.get-a-quote form{
    display: flex;
    flex-direction: column;
}

.get-a-quote input{
    height: 7px;
    padding: 15px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    
    background-color: #d6564f;

    border: 0px solid black;
    border-radius: 5px;

    font-size: 11px;    
}

.get-a-quote textarea{
    height: 180px;
    padding: 11px 15px;
    margin-bottom: 10px;
    
    background-color: #d6564f;

    border: 0px solid black;
    border-radius: 5px;

    font-size: 11px;
    font-weight: 400; 

    resize: none;
}

textarea::placeholder{
    color: #f48c8f;
    letter-spacing: 0.45px;
}

input::placeholder{
    color: #f48c8f;
    letter-spacing: 0.7px;
    font-weight: 400;
}

button{
    height: 25px;
    
    background-color: #d6564f;

    border: 3px solid #d6564f;
    border-radius: 5px;

    font-size: 15px; 
    color: #f0d8d9;
}

.get-a-quote aside{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.get-a-quote aside h4{
    position: relative;
    top: -2px;
    left: 1px;
    margin-bottom: 21px; 

    letter-spacing: 0.1px;
    font-size: 18px;
}

.get-a-quote aside p{
    margin-bottom: 5px; 

    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.03px;
    font-size: 12px;
}

.get-a-quote aside li{
    list-style: none;
    margin-bottom: 2px;
}

.get-a-quote aside a{
    text-decoration: none;
    font-size: 11px;
    font-weight: 400px;
    letter-spacing: 0.45px;
    color:  #f0d8d9
}

.get-a-quote aside img{
   margin-right: 10px;
}

.get-a-quote .address{
    position: relative;
    left: 4px;
}

.get-a-quote .address a{
    position: relative;
    left: 3px;
    top: -1px;
}

.get-a-quote .tel{
    position: relative;
    left: 2px;
}

.get-a-quote .tel a{
    position: relative;
    left: 1px;
    top: -1px;
}

.get-a-quote .mail{
    position: relative;
    left: 1px;
    top: 1px;
}

.get-a-quote .mail a{
    position: relative;
    top: -1px;
}

footer{
    height: 76px;
    color: #666d89;
    background-color: #2d303a;
}

footer .wrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img{
    position: relative;
    left: 0px;
    top: 1px;
    margin-left: 5px;
}

footer span{
    position: relative;
    left: 2px;
    top: -1px;
    letter-spacing: -0.11px;
    font-size: 12px;
}

footer img:last-child{
    position: relative;
    left: 0px;
}

footer img:hover{
    cursor: pointer;
}