*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    color: #666d89;
    overflow-x:hidden; 
}

header .container{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.burger-button {
    display: none;

    position: fixed;
    top: 26px;
    left: 20px;
    z-index: 22;

    width: 25px;
    height: 20px;
    
    flex-direction: column;
    justify-content: space-between;


    cursor: pointer;
    transition: transform 0.3s, top 0.3s;
}

.burger-button div {
    background-color: #fff;
    height: 2px;
}


.burger-button-open {
    transform: rotate(-90deg);
}


.menu-bg{
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    z-index: 11;
    transition: left 0.3s, top 0.3s;    
}

.menu-bg-open{
    left:0;
}

.menu-bg .content{
    background-color: #2D303A;
    width: 210px;
    height: 100vh; 
    padding: 35px 30px; 
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 94px 1px rgba(45,48,58,1);
}

.menu-bg .content a{
   margin: 0px;
}

.menu-bg .content .burger-button{
    position: absolute;
    top: 45px;
    left: 30px;
    transform: rotate(90deg)
}

.menu-bg .content > span{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-bg .content p{
    position: absolute;
    top: 25px;
    left: 70px;
    color: #ffffff;
    font-family: "Lato";
    font-size: 20px;
    letter-spacing: 0.1px;
    text-align: justify;
}

.menu-bg .content span{
    color:#f06c64;   
}

.menu-bg .content #header-n{
    position: absolute;
    left: 70px;
    top: 230px;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.menu-bg a{
    font-size: 24px;   
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    width: calc(1020px - 80px);
    max-width: 1020px;
    height: 100%;
}

.anchors{
   scroll-margin-top: 95px;
}

header{
    position: sticky;
    top:0;
    width: 100%;
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    z-index: 10;
}

header .container{
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #ffffff;
}

header h1{
    position: relative;
    left: 40px;
    color: #ffffff;
    font-family: "Lato";
    font-size: 18pt;
    letter-spacing: 0.1px;
    text-align: justify;
}

h1 span{
    color:#f06c64;
}

header nav{
    position: relative;
    top: 4px;
    left: -26px;    

    display: flex;
    color: #494e62;
    text-decoration: none;

    line-height: 20px;
    font-size: 12px;
    text-align: justify;
}

nav a{
    margin-left: 13px;
    margin-right: 13px;

    text-decoration: none;
    color: #ffffff;
    text-align: justify;

    transition: all 0.3s ease;

}

nav a:hover{
    color:#f06c64;
}

.sliders{
    position: relative;
    /* left: -100%; */
    width: 100%;
    display: flex;
}

.slider{
    width: 100%;
    height: 594px;

    background-color: #f06c64;
    
    border-bottom: 6px solid #ea676b;

    transition-property: background-color, border-bottom;
    transition-duration: 3s;
}

.slider .container{
    height: 100%;
    width: 940px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
   
}


.slider-2-background{
    background-color: #648bf0;
    border-bottom: 6px solid #74b9ff;
}

.for-haver-chev{
    width: 80px;
    height: 200px;
}

.for-haver-chev:nth-child(1){
    position: relative;
    left: -40px;
}

.for-haver-chev:nth-child(3){
    position: relative;
    left: 35px;
}

.chev_left{
    position: relative;
    top: 84px;
    left: 42px;
}

.chev_right{
    position: relative;
    top: 84px;
    left: 22px;
}

.for-haver-chev:hover .chev_left{
    animation: left-chev-animation 1s infinite linear;
}
.for-haver-chev:hover .chev_right{
    animation: right-chev-animation 1s infinite linear;
}

@keyframes left-chev-animation {
    from {
        left: 42px;
    }
    50% {
        left: 32px;
    }
    to {
        left: 42px;
    }
}

@keyframes right-chev-animation {
    from {
        left: 22px;
    }
    50% {
        left: 32px;
    }
    to {
        left: 22px;
    }
}

.iphones{
    width: 915px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.iphone{
    width: 240px;
    height: 483px;
}

.iphone:nth-child(2){
    transform: rotate(90deg);
    position: relative;
    top: 12px;
    left: 195px;
}

.iphone:nth-child(1){
    position: relative;
    top: 12px;
}

img.slider-2{
    position: relative;
    left: 465px;
}

.shadow-iphone{
    width: 240px;
    height: 483px;

    background-image: url(assets/shadow.png);
}

.iphone:nth-child(1) .shadow-iphone{
    transform: scale(1, -1);
}

.iphone:nth-child(2) .shadow-iphone{
    position: relative;
    top: -2px;
    left: 1px;
}

.iphone-corpus{
    width: 215px;
    height: 483px;

    background-image: url(assets/corpus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.iphone:nth-child(2) .iphone-corpus{
    transform: scale(1, -1);
    background-position: top;
    position: relative;
    top: 1px;
    left: -1px;
}

.screen-iphone{
    position: relative;
    top: 82px;
    left: 11px;
    background-size: contain;
    width: 194px;
    height: 339px;
}

.iphone:nth-child(1) .screen-iphone{
    background-image: url(assets/screen-v.png);
    transform: scale(1, -1)
}

.iphone:nth-child(2) .screen-iphone{
    background-image: url(assets/screen-h.png);
    transform: scale(1, -1);
    top: 58px;
    left: 11px;
}

.services{
    height: 494px;
    width: 100%;
    background-color: #f2f2f2;

    border-bottom: 6px solid #ffffff;
 }

.services .container{
    height: calc(100% - 80px);
    width: 940px;

    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services h2{
    position: relative;
    top: 3px;

    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.2px;
}

.services h4{
    position: relative;
    top: -10px;

    letter-spacing: 0.36px;
    line-height: 30px;
    font-size: 17px;
    color: #767e9e;
    text-align: justify;
    font-weight: 400;
}

.services .wrapper{
    position: relative;
    top: 3px;
    padding: 0px;
    display: grid;
    grid-template: repeat(2, 100px) / repeat(3, 300px);
    grid-gap: 20px;
    grid-row-gap: 22px;
}

.services .block{
    display: grid;
    grid-template: 20px 70px / 70px 220px;
    grid-gap: 10px;
}

.services .block h3{
    position: relative;
    top: -3px;
    width: 100%;

    color: #666d89;
    letter-spacing: -0.5px;
    font-weight: 900;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.services .block h5{
    position: relative;
    top: -2px;
    width: 100%;
    
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    color: #878da9;
    line-height: 21px;
    font-size: 12px;
    word-wrap: break-word;
    font-weight: 700;
    letter-spacing: -0.11px;
    text-align: justify;
    overflow: hidden;
}

.services .block .image{
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
}

.services .block:nth-child(1) .image{
    background-image: url(./assets/pen.png);
    background-repeat: no-repeat;
}

.services  .block:nth-child(2) .image{
    background-image: url(./assets/lightbulb.png);
    background-repeat: no-repeat;
}

.services .block:nth-child(3) .image{
    background-image: url(./assets/heart.png);
    background-repeat: no-repeat;
}

.services .block:nth-child(4) .image{
    background-image: url(./assets/phone.png);
    background-repeat: no-repeat;
}
.services .block:nth-child(5) .image{
    background-image: url(./assets/bubble.png);
    background-repeat: no-repeat;
}

.services .block:nth-child(6) .image{
    background-image: url(./assets/Star.png);
    background-repeat: no-repeat;
}


/* PART-2*/

.portfolio {
    color: #666d89;
    width: 100%;
    height: calc(863px);
    background-color: #2d303a;
    border-bottom: #323746 solid 6px;
}

.portfolio .container{
    top:-1px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top:  50px;
    padding-bottom: 55px;
}

h2 {
    position: relative;
    top: 11px;

    font-size: 30px;
    letter-spacing: -0.1px;
    font-weight: 800;
}

p{
    position: relative;
    top: 33px;

    font-size: 18px;
    letter-spacing: -0.23px;
    text-align: justify;
}

.portfolio ul{
    position: relative;
    top: 48px;

    display: flex;
    flex-direction: row;
}

.portfolio li{
    margin-right: 10px;
    padding: 6px;
    height: 8px;

    border: 1px solid #666d89;
    border-radius: 4px;

    vertical-align: middle;

    line-height: 8px;
    list-style-type: none;
    color: #666d89;
    font-size: 12px;
    font-weight: 400;

    white-space: nowrap;

    transition: all 0.5s ease;
}


.portfolio li:hover{
    color: #c5c5c5;
    border-color: #c5c5c5; 
    cursor: pointer;
}

.images {
    position: relative;
    top: 66px;
    display: grid;
    grid-template: repeat(3, 187px) / repeat(4, 220px);
    grid-gap: 20px;
}

.img-for-portfolio {
    position: relative;
    width: 100%;
    border: 0px solid #f06c64;
}

.portfolio .img-for-portfolio:nth-child(n+13){
    display: none;
}

.about-us{
    background-color: #f2f2f2;
    height: calc(728px);
    border-bottom: #ffffff solid 6px;

    color: #666d89;
}

.about-us .container{
    height: calc(100% - 80px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.staff{
    display: grid;
    grid-gap: 20px;
    grid-template: 443px / repeat(3, 300px);
}

.staff > div{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 3px;
}

.staff .second img {
    position: relative;
    left: -1px;
}

.about-us h2{
    position: relative;
    top: 19px;
}

.about-us p{
    position: relative;
    top: -18px;
    line-height: 30px;
    letter-spacing: -0.24px;
}

.about-us .staff{
    position: relative;
    top: -27px;
    left: -3px;
}

.staff .social-media{
    position: relative;
    top: 4px;
}

.staff > div > h3{
    margin-top: 15px;
    margin-bottom: 15px;

    letter-spacing: -0.4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.staff > div > p{
    position: relative;
    height: 60px;
    top: 0px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.05px;
    text-align: justify;   
}

.staff > div .social-media img{
    margin-top: 15px;
    padding-right: 5px;
}

.social-media  img:hover{
    position: relative;
    top: 5px;
    cursor: pointer;
}

/* PART-3 */


*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    color: #f0d8d9;
}

.wrapper{
    margin: 0 auto;
    width: 940px;
    padding: 0 40px;
}

.get-a-quote{
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.get-a-quote .wrapper{
    padding: 60px 0;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.get-a-quote .grid-for-form-and-aside{
    position: relative;
    top: -1px;
    display: grid;
    grid-template: 400px / 619px 300px;
    grid-gap: 20px;

}

.get-a-quote h2 {
    position: relative;
    top: -1px;

    font-size: 30px;
    letter-spacing: -0.18px;
    font-weight: 900;
}

.get-a-quote p{
    position: relative;
    top: -15px;
    width: 100%;

    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}

.get-a-quote form{
    display: flex;
    flex-direction: column;
}

.get-a-quote input{
    height: 7px;
    padding: 15px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    
    background-color: #d6564f;

    border: 0px solid black;
    border-radius: 5px;

    font-size: 11px;    
    color:#f0d8d9;
    letter-spacing: 0.7px;
    font-weight: 400;
}

.get-a-quote textarea{
    height: 180px;
    padding: 11px 15px;
    margin-bottom: 10px;
    
    background-color: #d6564f;

    border: 0px solid black;
    border-radius: 5px;

    font-size: 11px;    
    color:#f0d8d9;
    letter-spacing: 0.7px;
    font-weight: 400; 

    resize: none;
}

textarea::placeholder{
    color: #f48c8f;
    letter-spacing: 0.45px;
}

input::placeholder{
    color: #f48c8f;
    letter-spacing: 0.7px;
    font-weight: 400;
}

button{
    height: 25px;
    
    background-color: #d6564f;

    border: 3px solid #d6564f;
    border-radius: 5px;

    font-size: 15px; 
    color: #f0d8d9;
}

button:hover{
    cursor: pointer;
}

.get-a-quote aside{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.get-a-quote aside h4{
    position: relative;
    top: -2px;
    left: 1px;
    margin-bottom: 21px; 

    letter-spacing: 0.1px;
    font-size: 18px;
}

.get-a-quote aside p{
    margin-bottom: 5px; 

    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.03px;
    font-size: 12px;
}

.get-a-quote aside li{
    list-style: none;
    margin-bottom: 2px;
}

.get-a-quote aside a{
    text-decoration: none;
    font-size: 11px;
    font-weight: 400px;
    letter-spacing: 0.45px;
    color:  #f0d8d9
}

.get-a-quote aside img{
   margin-right: 10px;
}

.get-a-quote .address{
    position: relative;
    left: 4px;
}

.get-a-quote .address a{
    position: relative;
    left: 3px;
    top: -1px;
}

.get-a-quote .tel{
    position: relative;
    left: 2px;
}

.get-a-quote .tel a{
    position: relative;
    left: 1px;
    top: -1px;
}

.get-a-quote .mail{
    position: relative;
    left: 1px;
    top: 1px;
}

.get-a-quote .mail a{
    position: relative;
    top: -1px;
}

footer{
    height: 76px;
    color: #666d89;
    background-color: #2d303a;
}

footer .wrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img{
    position: relative;
    left: 0px;
    top: 1px;
    margin-left: 5px;
}

footer span{
    position: relative;
    left: 2px;
    top: -1px;
    letter-spacing: -0.11px;
    font-size: 12px;
}

footer img:last-child{
    position: relative;
    left: 0px;
}

footer img:hover{
    cursor: pointer;
}   

/*----- STYLES FOR JS -----------*/

.to-hidden{
    display: none;
}

.start-slider-1{
    /* left: -100%; */
}

.start-slider-2{
    flex-direction: row-reverse;
}

.active_nav{
    color:#f06c64;
}

.portfolio li.active_tag{
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.active_image{
    outline: 5px solid #f06c64;
}

#message{
    position: fixed;
    top:0px; 
    left:0px; 
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 11; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#message .content{
    padding:40px; 
    background-color: white; 
    border-radius: 10px; 
    width: 500px; 
    height: 200px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    color: black
}

@media (max-width: 1019px){
    
    .slider .container{
        width: calc(100vw);
        padding: 0;
    }

    .iphone{
        width: 180px;
        height: 364px;
    }
    
    .iphones{
        width: 600px;
        align-items: center;
    }

    .shadow-iphone{
        width: 180px;
        height: 364px;
        top: 0;
        left: 0;
        background-size: cover;
    }

    .iphone-corpus{
        position: absolute;
        width: 162px;
        height: 344px;
        top: 19px;
        left: -1px;
    }

    .for-haver-chev:nth-child(1) {
        left: -10px;
    }

    .for-haver-chev:nth-child(3) {
        position: relative;
        left: 10px;
    }
    
    .iphone:nth-child(1) {
        width: 180px;
        height: 364px;
        top: 0;
        left: 0;
    }

    .iphone:nth-child(2) {
        width: 180px;
        height: 364px;
        top: 0px;
        left: 146px;
    }

    .iphone:nth-child(2) .iphone-corpus {
        transform: scale(1, -1);
        background-position: top;
        position: relative;
        top: 18px;
        left: -1px;
    }

    .iphone:nth-child(2) .screen-iphone{
        background-image: url(assets/screen-h.png);
        transform: scale(1, -1);
        top: 35px;
        left: 11px;
    }

    img.slider-2 {
        left: 300px;
    }

    .screen-iphone {
        width: 144px;
        height: 261px;
        top: 35px;
        left: 9px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .container{
        /* max-width: 688px; */
        width: calc(100% - 80px)
    }

    .services{
        height: 651px;
    }

    .services .container{
        width: calc(100% - 80px);
    }

    .services .wrapper{
        grid-template: repeat(3, 104px) / repeat(2, 1fr);
        grid-gap: 35px;
        width: 100%;
    }

    .portfolio{
        height: auto;
    }

    .images {
        grid-template: repeat(4, 1fr)/ repeat(3, 1fr);
        padding-bottom: 40px;
    }

    .staff{
        grid-template: 443px / repeat(3, 1fr);
        grid-gap: 14.6px;
    }

    .staff > div > img{
        width: 100%;
    }

    .staff > div{
        display: flex;
        flex-direction: column;
    }

    .get-a-quote .wrapper{
        width: calc(100% - 80px);
        
    }

    .get-a-quote .grid-for-form-and-aside{
        grid-template:  1fr / 2fr 1fr;
    }

    footer .wrapper{
        width: calc(100% - 80px);
    }
}


@media (max-width: 767px){

    .anchors{
        scroll-margin-top: 71px;
    }

    .burger-button{
        display: flex;
    }
    
    header{
        height: 71px;
        border-bottom: none;
    }

    .services .block{
        margin: auto;
    }

    .container{
        width: calc(100% - 60px);
        padding: 0 30px;
    }

    header .container{
        margin: 0px;
        padding: 0px;
    }

    header nav{
        display: none;
    }

    header h1{
        position: static;
        margin: auto;
        padding: 0;
    }

    .services .container {
        width: calc(100% - 60px);
        padding: 40px 30px;
        margin: 0;
    }

    .services .wrapper{
        grid-template: repeat(6, 104px) / 1fr;
        grid-gap: 10px;
    }
    
    h4{
        margin: 20px 0;
    }

    .services{
        height: auto;
    }

    .images {
        grid-template: repeat(4, 1fr)/ repeat(2, 1fr);
        grid-gap: 13px;
    }

    .portfolio .img-for-portfolio:nth-child(n+9){
        display: none;
    }

    .staff{
        grid-template: repeat(3, 1fr) / 1fr;
    }

    .about-us{
        height: auto;
    }

    .about-us .container {
        height: calc(100% - 60px);
        padding: 0 30px;
    }

    .about-us .container > p{
        top:0;
        margin: 40px 0;
    }

    .staff > div >p{
        height: 40px;
    }

    .get-a-quote .wrapper{
        width: calc(100% - 60px);
    }

    .get-a-quote{
        height: auto;
    }

    .get-a-quote h2 + p{
        top: 0;
        margin: 10px 0;
    }

    .get-a-quote .grid-for-form-and-aside{
        grid-template: 3fr 2fr / 1fr;
    }

    footer span{
        display: none;
    }

    footer .social-media{
        margin: auto;
    }
}

@media (max-width: 374px){
    .services .block{
        height: 100%;
        width: 100%;
        grid-template: 1fr 3fr/ 1fr 3fr;
    }

    .portfolio li{
        margin-right: 1px;
    }
}